
*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-size: 1vw;
    
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: #383B40;
    /* overflow: hidden; */
}
.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}



/* HEADER */
.header{
    background-color: #252E40;
    box-shadow: -1px 4px 7px 0px rgba(43, 43, 43, 0.4);
    width: 100%;
    z-index: 1;
}
.header_inner{
    display:flex;
    flex-direction: column;
}
.header_titles{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main_header_inner{
    font-size: 5rem;
}
.expenses_header_inner,
.income_header_inner{
    font-size: 3.5rem;
}

.income_header_inner,
    .expenses_header_inner,
    .main_header_inner{
        background-color: #383B40;
        padding: 1rem;
    border-radius: 5px;
    font-weight: 300;
    letter-spacing: 3px;
    }
.header_descriptions{
    display: flex;
    justify-content: space-evenly;
    
}
.income_details, .expenses_details{
    display:flex;
    justify-content: space-evenly;
    width: 100%; 
    font-size: 3rem;
    
    padding: 0 1.5vw;
}
.income_details p,
.expenses_details p{
    background-color: #6E89BF;
    padding: 0.1rem 0.5rem;
    border-radius: 3px;
    color: #383B40;
    font-weight: 700;
}

.header_button{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


/* SIDEBAR */
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s linear;
    height: max-content;
    padding: 1vh 0;
    font-size: 4rem;
}

/* temporary block */
.chart_bar_inner,
.chart_pie,
.header_sidebar,
.calculation_header,
.input_group_header,
.save_label
{
    display:none;
}

.calculation{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: #6E89BF;
    border-radius: 5px;
}

/* mobile bar chart */
.mobile-chart{
    display:block;
    text-align: center;
    width: 100%;
}
.bar-chart-mobile-remain{
    text-transform: uppercase;
    font-weight: 700;
}
.bar-chart-mobile{
   display: flex;
   width: 100%;
   height: max-content;
   font-size: 4rem;
   text-align: center;
   justify-content: flex-start;
   align-items: center;
   border-radius: 5px;
  
}
.bar-chart_remainings{
   width: 0;
   background-color: #3ac26e; 
   transition: all 0.5s linear;
   overflow: hidden;
      border-radius: 5px;

}
.bar-chart_savings{
   width: 0;
   background-color: #6E89BF;
   transition: all 0.5s linear;
   overflow: hidden;
   border-radius: 5px;


}
.bar-chart_expenses{
   width: 0;
   background-color: #da4e4e;
   transition: all 0.5s linear;
   overflow: hidden;
   border-radius: 5px;


}
.expenseBar {
    transition: all linear 0.2s;
}

.expenseBar:hover {
    transform: translate(0, -2%);
    fill: red;
}

.input_group,
.save{
    display: flex;
    flex-direction: column;
}

.input_group_buttons,
.income_choice,
.expense_choice,
.save_buttons,
.percentage,
.amountM{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}


/* all toggle buttons */

.toggle{
    position: relative;
    display: block;
    width: 50px;
    height: 20px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
}
.percentage label:first-child,
.amountM label:first-child{
    margin: 0 1rem;
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background .2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all .2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#percent:checked+.toggle:before {
    background: #B2BACA;
}

#percent:checked+.toggle span {
    background: #252E40;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#percent:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

#amount:checked+.toggle:before {
    background: #B2BACA;
}

#amount:checked+.toggle span {
    background: #252E40;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#amount:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

#check_income:checked+.toggle:before {
    background: #B2BACA;
}

#check_income:checked+.toggle span {
    background: #252E40;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#check_income:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

#check_expense:checked+.toggle:before {
    background: #B2BACA;
}

#check_expense:checked+.toggle span {
    background: #252E40;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#check_expense:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}


/* input animation */
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.row span input{
    box-sizing: border-box;
    width: 100%;
}
.row span {
    position: relative;
    display: block;
    width: 100%;
    margin: 0.5vh 0;
    box-sizing: border-box;
}

.row span input{
    display: flex;
}

.row span:nth-child(1) {
    width: 100%;
}

.row span:nth-child(2) {
}

.row span:nth-child(2),
.row span:nth-child(3) {
    width: 100%;
}

.slide-up {
    display: flex;
   
    padding: 5px 0 5px 10px;
    font-size: 15px;
    font-weight: 400;
    color: #252E40;
    background: #efefef;
    border: 0;
    border-radius: 5px;
    outline: 0;
    text-indent: 90px;
    transition: all .3s ease-in-out;
}

.slide-up::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.slide-up+label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    padding: 2px 15px;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
}

.slide-up+label:before,
.slide-up+label:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.slide-up+label:before {
    top: 6px;
    left: 5px;
    right: 5px;
    bottom: 6px;
    background: #252E40;
}

.slide-up+label:after {
    top: 0;
    bottom: 0;
    background: #252E40;
}

.slide-up span:nth-child(1) .slide-up:focus,
.slide-up span:nth-child(1) .slide-up:active,
.slide-up span:nth-child(3) .slide-up:focus,
.slide-up span:nth-child(3) .slide-up:active {
    text-indent: 0;
    
}

.slide-up:focus,
.slide-up:active {
    color: #252E40;
    text-indent: 0;
    background: #fff;
    
}

.slide-up:focus::-webkit-input-placeholder,
.slide-up:active::-webkit-input-placeholder {
    color: #aaa;
}

.slide-up:focus+label,
.slide-up:active+label {
    transform: translateY(-100%);
    padding: 10px 15px;
    font-size: 18px;
    color: #d45959;
    transition: all 0.3s linear;
    
}
 

.slide-up:focus+label:before,
.slide-up:active+label:before {
    border-radius: 5px;
    border: 1px solid #d45959;
    box-shadow: 2px -3px 5px #d45959;
    
}

.slide-up:focus+label:after,
.slide-up:active+label:after {
    transform: translateY(100%);
}

.input_saving{
    border-radius: 5px;
    margin-bottom: 0.5vmax;
    border: 0;
    outline: 0;
    transition: all 0.5s ease;
}

/* buttons add up down clear delete */

.button_sidebar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0;
    width: 100%;
}

.up,
.down {
    background: none;
    outline: none;
    border: none;
    width: 10rem;
    height: 10rem;
   
   
}

.fas {
    display: flex;
    justify-content: center;
}

.btn-1 {
    box-sizing: border-box;
    background: #6E89BF;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 3.5rem;
    border: 0;
    transition: all 0.5s;
    margin: 0 5%;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

 .btn-1::after {
    content: "DOWN";
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 10px;
    position: absolute;
    top: 10%;
    opacity: 0;
}

.btn-1:hover {
    background: #da4e4e;
    transition: all 0.4s;
    border-radius: 10px;
    padding: 25% 25% 0;
    font-size: 20px;
    box-shadow: 0px 6px 15px #c50e0e61;
}

.btn-1:hover::after {
    opacity: 1;
    transition: all 0.9s;
} 

.btn-2 {
    box-sizing: border-box;
    background: #6E89BF;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 3.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-2::after {
    content: "UP";
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 10px;
    position: absolute;
    bottom: 10%;
    opacity: 0;
}

.btn-2:hover {
    background: #da4e4e;
    transition: all 0.4s;
    border-radius: 10px;
    font-size: 20px;
    padding: 0 25% 25%;
    box-shadow: 0px 6px 15px #c50e0e61;
}

.btn-2:hover::after {
    opacity: 1;
    transition: all 0.9s;
}

.down i,
.up i {
    display: flex;
    justify-content: center;
    
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    33% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #3ac26e;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: none;
    width: 25%;
    height: 100%;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s, transform .3s, box-shadow .3s;
    will-change: transform;
}

.add:hover {
    background: darken(#3ac26e, 10%);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -2px, 0);
}

.add:focus {
    outline: none;
}

.add:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 1px, 0);
}

.pulse {
    position: relative;
}

.pulse:before,
.pulse:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0;
    margin: auto;
}

.pulse:before {
    animation: pulse 1.5s infinite linear;
}

.pulse:after {
    animation: pulse 2s .4s infinite linear;
}

.pulse:hover:before,
.pulse:hover:after {
    display: none;
}

.button_Delete_Main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear_form,
.delete_al {
    background: rgba(255, 255, 255, 0);
    border-bottom: 1px solid;
    color: #fff;
    line-height: 1.3;
    padding: .2em;
    text-decoration: none;
}

.clear_form:hover,
.delete_al:hover {
    background: white;
    color: #E1332D;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 25%;
    height: 100%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    
}



.btn:focus {
    outline: none;
}

.btn-3 {
    background: #e3403a;
    border: 1px solid #da251f;
    border-radius: 5px;
    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn-3:hover {
    background: #e02c26;
    border: 1px solid rgba(219, 11, 11, 0.05);
    box-shadow: 1px 1px 2px rgba(194, 57, 57, 0.507);
    color: #ec817d;
    text-decoration: none;
    text-shadow: -1px -1px 0 #c2211c;
    transition: all 250ms linear;
}

/* CONTAINER */
.container{
    height: 100%;
    min-height: 80px;
    display: flex;
    background-color: #B2BACA;
    overflow-y: scroll;

}
.income {
    overflow-y: scroll;
    width: 50%;
}

.expense {
    overflow-y: scroll;
    width: 50%;
}
.newCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    font-size: 3rem;
    background-color: #51658C;
    border-radius: 5px;
    box-shadow: lightslategray 5px 4px 5px;
    transition: transform 0.5s, color 0.5s;
}
.income .newCard p:not(:nth-child(4)){
    cursor: pointer;
    transition: all 0.3s linear;
}
.income .newCard p:not(:nth-child(4)):hover{
    color: red;
    font-size: larger;
    font-weight: 700;
}
.expense .newCard p:not(:last-child){
    cursor: pointer;
    transition: all 0.3s linear;
}
.expense.newCard p:not(:last-child):hover{
    color: red;
    font-size: larger;
    font-weight: 700;
}
.hover_bar {
    border: 1px solid rgba(240, 19, 0, 0.9);
    color: rgba(240, 19, 0, 0.7);
    transform: translate(0, -5%);
}

.button_Delete_Main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    margin: 0 2%;

}
.menu-icon {
    border: 1px solid rgba(255, 0, 0, 0.411);
    background-color: rgba(194, 73, 42, 0.219);
    height: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 200ms ease-out;
    transition: background-color 0.3s linear 0.5s;
    width: 20px;
    box-sizing: content-box;
}

.menu-icon:after,
.menu-icon:before {
    background-color: rgb(253, 253, 253);
    content: '';
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transition: all 400ms cubic-bezier(0.25, 0.6, 0.36, 1);
    position: absolute;
    width:  15px;
}

.menu-icon>.line {
    background: rgb(255, 0, 0);
    height: 1px;
    position: absolute;
    transition: all 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    width: 0%;
    box-sizing: content-box;
}

.menu-icon>.line.top {
    left: 0;
    top: 0;
    transition-delay: .3s;
}

.menu-icon>.line.bottom {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    transition-delay: .1s;
}

.menu-icon>.line.left {
    left: 0;
    top: 0;
    transform: translate3d(0, 20px, 0) rotate(-90deg);
    transform-origin: 0;
    transition-delay: 0s;
}

.menu-icon>.line.right {
    left: 0;
    top: 0;
    transform: translate3d(20px, 0, 0) rotate(90deg);
    transform-origin: 0;
    transition-delay: .2s;
}

.menu-icon:before {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transition-delay: 65ms;
}

.menu-icon:hover .line {
    width: 100%;
}

.menu-icon:hover {
    background-color: #c2211c;
}

.menu-icon:hover .line.top {
    transition-delay: 0ms;
}

.menu-icon:hover .line.right {
    transition-delay: .1s;
}

.menu-icon:hover .line.bottom {
    transition-delay: .2s;
}

.menu-icon:hover .line.left {
    transition-delay: .3s;
}

.menu-icon:hover:after {
    transform: translate3d(-50%, -50%, 0) rotate(225deg);
}

.menu-icon:hover:before {
    transform: translate3d(-50%, -50%, 0) rotate(135deg);
}

.menu-icon:active {
    opacity: .8;
    transition: none;
}
.menu-icon > .line.bottom,
.menu-icon > .line.top,
.menu-icon > .line.right,
.menu-icon > .line.left{
    /* display:none; */
    box-sizing: content-box;
}


/* style of scrolling */
.income::-webkit-scrollbar-track,
.expense::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.income::-webkit-scrollbar,
.expense::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.income::-webkit-scrollbar-thumb,
.expense::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


@media(min-width: 1024px){
    html,body{
        font-size:0.5vw;
        height: 100vh;
        overflow:hidden;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(7, 1fr);
        height: 100%;
        width: 100%;
    }
    
    .header {
        grid-area: 1/4/2/12;
        background-color: #252E40;
        box-shadow: -1px 4px 7px 0px rgba(43, 43, 43, 0.4);
        width: 100%;
        z-index: 1;
    
    }
    .header_sidebar_inner{
        font-size: 3rem;
        margin: 0.5rem 0;
        background-color: #252E40;
        width: 100%;
        
    }
    .income_header_inner,
    .expenses_header_inner,
    .main_header_inner{
        padding: 1rem 3rem;
    }
    .income_details p,
.expenses_details p{
    padding: 0.5rem 1.5rem;
}
    
    
    .sidebar {
        grid-area: 1/1/8/4;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        flex-wrap: nowrap;
        z-index: 2;
        background-color: #383B40;
        box-shadow: 6px 1px 7px 0px rgba(43, 43, 43, 0.4);
        font-size: 2rem;
    }
    .calculation{
        margin: 0vh 0.5vw;
    }
    .calculation_header_inner{
        font-size: 3rem;
        margin: 1rem 0;
        

    }
    .input_group_header,
    .save_label{
        margin: .5rem 0;
    }
    .btn{
        width: 30%;
    }
    .chart_bar_inner,
.chart_pie,
.header_sidebar,
.calculation_header,
.input_group_header,
.save_label
{
    display:block;
    width: 100%;
}
.header_sidebar_inner{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
}
    .chart_pie {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    .chart_bar_inner {
        padding-left: 5%;
        width: 100%;
        margin-top: -5%;
    }
    
    .chart_elem_sum {
        fill: none;
        stroke-width: 5;
        animation-name: render;
        animation-duration: 2s;
        transition-property: all;
        transition-duration: 2s;
        cursor: pointer;
    }
    
    .chart_elem_sum:hover,
    .hovered {
        opacity: 0.8;
        stroke-width: 7;
    }
    
    rect {
        animation-name: render1;
        animation-duration: 1.5s;
        transition-property: all;
        transition-duration: 1.5s;
    }
    
    @keyframes render1 {
        0% {
            height: 0;
            width: 0;
        }
    }
    
    @keyframes render2 {
        0% {
            y2: 0;
            x2: 0;
        }
    }
    
    .chart_elem_sum:hover,
    .chart_elem_expense:hover {
        opacity: 0.8;
        stroke-width: 8;
    }
    
    @keyframes render {
        0% {
            stroke-dasharray: 0 100;
        }
    }
    
    .chart_pie_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .total_income,
    .total_expense {
        position: absolute;
        font-size: 3rem;
    }
    
    .legend {
        display: flex;
        padding-right: 2%;
        justify-content: space-around;
        align-items: center;
    }
    
    .legend_summmary_list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
    }
    
    .sum_list_elem {
        position: relative;
        padding-left: 15px;
        margin: 5px 0;
    }
    
    .sum_list_elem::before {
        content: "";
        position: absolute;
        left: 0;
        transform: translateY(50%);
        top: 0;
        width: 12px;
        height: 12px;
        border-radius: 3px;
    }
    
    .sum_list_elem:nth-child(1)::before {
        background-color: lightgreen;
    }
    
    .sum_list_elem:nth-child(2)::before {
        background-color: lightblue;
    }
    
    .sum_list_elem:nth-child(3)::before {
        background-color: lightcoral;
    }
    .mobile-chart{
        display: none;
    }
    
    
    .container {
        grid-area: 2/4/8/12;
        display: flex;
        flex-wrap: nowrap;
        background-color: #B2BACA;
        overflow-y: auto
    }
    .menu-icon{
        width: 40px;
        height: 40px;
    }
    .menu-icon:after,
    .menu-icon:before{
        width: 25px;
    }
    .menu-icon>.line.left {
        transform: translate3d(0, 40px, 0) rotate(-90deg);
    }
    
    .menu-icon>.line.right {
        transform: translate3d(40px, 0, 0) rotate(90deg);
    }
    .btn-1::after,
    .btn-2::after{
        font-size: 20px;
    }
}


@media(min-width:450px){
    html{
        font-size: 0.5vw;
    }
    .row{
        justify-content: space-between;
    }
    .row span:nth-child(2),
.row span:nth-child(3) {
    width: 45%;
}
}