                html,
                body {
                    height: 100%;
                    width: 100%;
                }
                
                body {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-family: 'Titillium Web', sans-serif;
                    color: white;
                    background-color: #383B40;
                    overflow-y: hidden;
                }
                /* MAIN MARKUP */
                
                .grid-container {
                    display: grid;
                    grid-template-columns: repeat(11, 1fr);
                    grid-template-rows: repeat(7, 1fr);
                    height: 100%;
                    width: 100%;
                }
                
                .header {
                    grid-area: 1/4/2/12;
                    background-color: #252E40;
                    box-shadow: -1px 4px 7px 0px rgba(43, 43, 43, 0.4);
                    z-index: 1;
                }
                
                .sidebar {
                    grid-area: 1/1/8/4;
                    display: flex;
                    flex-wrap: wrap;
                    z-index: 2;
                    background-color: #383B40;
                    box-shadow: 6px 1px 7px 0px rgba(43, 43, 43, 0.4);
                }
                
                .container {
                    grid-area: 2/4/8/12;
                    display: flex;
                    flex-wrap: nowrap;
                    background-color: #B2BACA;
                }
                /* container details */
                
                .income {
                    overflow-y: scroll;
                    width: 50%;
                }
                
                .expense {
                    overflow-y: scroll;
                    width: 50%;
                }
                
                .newCard {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 1%;
                    background-color: #51658C;
                    border-radius: 5px;
                    box-shadow: lightslategray 5px 4px 5px;
                    transition: transform 0.5s, color 0.5s;
                }
                
                .hover_bar {
                    border: 1px solid rgba(240, 19, 0, 0.9);
                    color: rgba(240, 19, 0, 0.7);
                    transform: translate(0, -5%);
                }
                
                .menu-icon {
                    border: 1px solid rgba(255, 0, 0, 0.411);
                    background-color: rgba(194, 73, 42, 0.219);
                    height: 40px;
                    cursor: pointer;
                    position: absolute;
                    transition: all 200ms ease-out;
                    width: 40px;
                }
                
                .menu-icon:after,
                .menu-icon:before {
                    background-color: rgb(253, 253, 253);
                    content: '';
                    height: 1px;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0) rotate(45deg);
                    transition: all 400ms cubic-bezier(0.25, 0.6, 0.36, 1);
                    position: absolute;
                    top: 50%;
                    width: 25px;
                }
                
                .menu-icon>.line {
                    background: rgb(255, 0, 0);
                    height: 1px;
                    position: absolute;
                    transition: all 0.1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
                    width: 0%;
                }
                
                .menu-icon>.line.top {
                    left: 0;
                    top: 0;
                    transition-delay: .3s;
                }
                
                .menu-icon>.line.bottom {
                    bottom: 0;
                    right: 0;
                    transform: rotate(180deg);
                    transition-delay: .1s;
                }
                
                .menu-icon>.line.left {
                    left: 0;
                    top: 0;
                    transform: translate3d(0, 40px, 0) rotate(-90deg);
                    transform-origin: 0;
                    transition-delay: 0s;
                }
                
                .menu-icon>.line.right {
                    left: 0;
                    top: 0;
                    transform: translate3d(40px, 0, 0) rotate(90deg);
                    transform-origin: 0;
                    transition-delay: .2s;
                }
                
                .menu-icon:before {
                    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
                    transition-delay: 65ms;
                }
                
                .menu-icon:hover .line {
                    width: 100%;
                }
                
                .menu-icon:hover .line.top {
                    transition-delay: 0ms;
                }
                
                .menu-icon:hover .line.right {
                    transition-delay: .1s;
                }
                
                .menu-icon:hover .line.bottom {
                    transition-delay: .2s;
                }
                
                .menu-icon:hover .line.left {
                    transition-delay: .3s;
                }
                
                .menu-icon:hover:after {
                    transform: translate3d(-50%, -50%, 0) rotate(225deg);
                }
                
                .menu-icon:hover:before {
                    transform: translate3d(-50%, -50%, 0) rotate(135deg);
                }
                
                .menu-icon:active {
                    opacity: .8;
                    transition: none;
                }
                /* sidebar: details */
                
                .header_sidebar {
                    display: block;
                    width: 100%;
                }
                
                .income_header_inner {
                    background-color: #383B40;
                    padding: 1% 8%;
                    border-radius: 5px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }
                
                .expenses_header_inner {
                    background-color: #383B40;
                    padding: 1% 8%;
                    border-radius: 5px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }
                
                .header_sidebar_inner {
                    font-size: 22px;
                    padding-left: 10px;
                    background-color: #252E40;
                    margin-top: 5%;
                    margin-bottom: 1%;
                }
                
                .chart_pie {
                    display: flex;
                    width: 100%;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                }
                
                .chart_bar_inner {
                    padding-left: 5%;
                    width: 100%;
                    margin-top: -5%;
                }
                
                .chart_elem_sum {
                    fill: none;
                    stroke-width: 5;
                    animation-name: render;
                    animation-duration: 2s;
                    transition-property: all;
                    transition-duration: 2s;
                    cursor: pointer;
                }
                
                .chart_elem_sum:hover,
                .hovered {
                    opacity: 0.8;
                    stroke-width: 7;
                }
                
                rect {
                    animation-name: render1;
                    animation-duration: 1.5s;
                    transition-property: all;
                    transition-duration: 1.5s;
                }
                
                @keyframes render1 {
                    0% {
                        height: 0;
                        width: 0;
                    }
                }
                
                @keyframes render2 {
                    0% {
                        y2: 0;
                        x2: 0;
                    }
                }
                
                .chart_elem_sum:hover,
                .chart_elem_expense:hover {
                    opacity: 0.8;
                    stroke-width: 8;
                }
                
                @keyframes render {
                    0% {
                        stroke-dasharray: 0 100;
                    }
                }
                
                .chart_pie_inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                
                .total_income,
                .total_expense {
                    position: absolute;
                }
                
                .legend {
                    display: flex;
                    padding-right: 2%;
                    justify-content: space-around;
                    align-items: center;
                }
                
                .legend_summmary_list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                
                .sum_list_elem {
                    position: relative;
                    padding-left: 15px;
                    margin: 5px 0;
                }
                
                .sum_list_elem::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    transform: translateY(50%);
                    top: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 3px;
                }
                
                .sum_list_elem:nth-child(1)::before {
                    background-color: lightgreen;
                }
                
                .sum_list_elem:nth-child(2)::before {
                    background-color: lightblue;
                }
                
                .sum_list_elem:nth-child(3)::before {
                    background-color: lightcoral;
                }
                
                .calculation {
                    margin-left: 3%;
                    margin-right: 3%;
                    padding-left: 3%;
                    padding-bottom: 3%;
                    border-radius: 10px;
                    background-color: #6E89BF;
                }
                
                .calculation_header_inner {
                    margin-top: 3%;
                    margin-bottom: 0;
                    font-size: 21px;
                }
                
                .calculation p {
                    margin: 0;
                }
                
                .input_group {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                
                .save,
                .input_group {
                    margin-top: 4%;
                }
                
                .save {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                
                .save_label {
                    width: 100%;
                }
                
                .input_saving {
                    width: 30%;
                    padding: 5px 0 5px 10px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #252E40;
                    background: #efefef;
                    border: 0;
                    border-radius: 3px;
                    outline: 0;
                }
                
                .percentage {
                    margin-left: 5%;
                    display: flex;
                    align-items: center;
                }
                
                .percentage label:first-child {
                    margin-right: 20%;
                }
                
                .amountM {
                    margin-left: 10%;
                    display: flex;
                    align-items: center;
                }
                
                .amountM label:first-child {
                    margin-right: 20%;
                }
                
                .input_value_header,
                .input_group_header {
                    width: 100%;
                }
                
                .income_choice,
                .expense_choice {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                
                .income_choice label:nth-child(3),
                .expense_choice label:nth-child(3) {
                    margin-left: 5%;
                }
                
                .button_sidebar {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding-top: 1%;
                    padding-bottom: 5%;
                    width: 100%;
                }
                
                .up,
                .down {
                    background: none;
                    outline: none;
                    border: none;
                }
                
                .btn-1 {
                    box-sizing: border-box;
                    background: #6E89BF;
                    height: 50px;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 25px;
                    padding: 10% 35% 20% 35%;
                    border: 0;
                    transition: all 0.5s;
                    border-radius: 10px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                
                .btn-1::after {
                    content: "DOWN";
                    font-family: 'Titillium Web', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    position: absolute;
                    left: 23%;
                    top: 10%;
                    opacity: 0;
                }
                
                .btn-1:hover {
                    background: #da4e4e;
                    transition: all 0.4s;
                    border-radius: 10px;
                    font-size: 20px;
                    box-shadow: 0px 6px 15px #c50e0e61;
                    padding: 33% 35% 18% 35%;
                }
                
                .btn-1:hover::after {
                    opacity: 1;
                    transition: all 0.9s;
                }
                
                .btn-2 {
                    box-sizing: border-box;
                    background: #6E89BF;
                    height: 50px;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 25px;
                    padding: 20% 35% 10% 35%;
                    border: 0;
                    transition: all 0.5s;
                    border-radius: 10px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                
                .btn-2::after {
                    content: "UP";
                    font-family: 'Titillium Web', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    position: absolute;
                    left: 39%;
                    bottom: 10%;
                    opacity: 0;
                }
                
                .btn-2:hover {
                    background: #da4e4e;
                    transition: all 0.4s;
                    border-radius: 10px;
                    font-size: 20px;
                    box-shadow: 0px 6px 15px #c50e0e61;
                    padding: 5% 35% 40% 35%;
                }
                
                .btn-2:hover::after {
                    opacity: 1;
                    transition: all 0.9s;
                }
                
                @keyframes pulse {
                    0% {
                        transform: scale(0);
                        opacity: 0;
                    }
                    33% {
                        transform: scale(1);
                        opacity: 1;
                    }
                    100% {
                        transform: scale(3);
                        opacity: 0;
                    }
                }
                
                .add {
                    display: inline-flex;
                    align-items: center;
                    background: #3ac26e;
                    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    border: none;
                    height: 45px;
                    padding: 0 30px;
                    color: #fff;
                    font-family: Lato, Arial, sans-serif;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: background .3s, transform .3s, box-shadow .3s;
                    will-change: transform;
                }
                
                .add:hover {
                    background: darken(#3ac26e, 10%);
                    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
                    transform: translate3d(0, -2px, 0);
                }
                
                .add:focus {
                    outline: none;
                }
                
                .add:active {
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
                    transform: translate3d(0, 1px, 0);
                }
                
                .pulse {
                    position: relative;
                }
                
                .pulse:before,
                .pulse:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, .4);
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    opacity: 0;
                    margin: auto;
                }
                
                .pulse:before {
                    animation: pulse 1.5s infinite linear;
                }
                
                .pulse:after {
                    animation: pulse 2s .4s infinite linear;
                }
                
                .pulse:hover:before,
                .pulse:hover:after {
                    display: none;
                }
                
                .button_Delete_Main {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .clear_form,
                .delete_al {
                    background: rgba(255, 255, 255, 0);
                    border-bottom: 1px solid;
                    color: #fff;
                    line-height: 1.3;
                    padding: .2em;
                    text-decoration: none;
                }
                
                .clear_form:hover,
                .delete_al:hover {
                    background: white;
                    color: #E1332D;
                }
                
                .btn {
                    color: #fff;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 30px;
                    margin: 0 0 4%;
                    max-width: 160px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                }
                
                @media (min-width: 600px) {
                    .btn {
                        margin: 0em 1em;
                        padding: 2% 1%;
                        line-height: 1;
                    }
                }
                
                .btn:focus {
                    outline: none;
                }
                
                .btn-3 {
                    background: #e3403a;
                    border: 1px solid #da251f;
                    border-radius: 5px;
                    box-shadow: 0px 2px 0 #d6251f, 2px 4px 6px #e02a24;
                    font-family: 'Titillium Web', sans-serif;
                    font-weight: 400;
                    letter-spacing: 1px;
                    transition: all 150ms linear;
                }
                
                .btn-3:hover {
                    background: #e02c26;
                    border: 1px solid rgba(219, 11, 11, 0.05);
                    box-shadow: 1px 1px 2px rgba(194, 57, 57, 0.507);
                    color: #ec817d;
                    text-decoration: none;
                    text-shadow: -1px -1px 0 #c2211c;
                    transition: all 250ms linear;
                }
                
                .toggle {
                    position: relative;
                    display: block;
                    width: 40px;
                    height: 20px;
                    cursor: pointer;
                    -webkit-tap-highlight-color: transparent;
                    transform: translate3d(0, 0, 0);
                }
                
                .toggle:before {
                    content: "";
                    position: relative;
                    top: 3px;
                    left: 3px;
                    width: 34px;
                    height: 14px;
                    display: block;
                    background: #9A9999;
                    border-radius: 8px;
                    transition: background .2s ease;
                }
                
                .toggle span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    display: block;
                    background: white;
                    border-radius: 10px;
                    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
                    transition: all .2s ease;
                }
                
                .toggle span:before {
                    content: "";
                    position: absolute;
                    display: block;
                    margin: -18px;
                    width: 56px;
                    height: 56px;
                    background: rgba(79, 46, 220, 0.5);
                    border-radius: 50%;
                    transform: scale(0);
                    opacity: 1;
                    pointer-events: none;
                }
                
                #percent:checked+.toggle:before {
                    background: #B2BACA;
                }
                
                #percent:checked+.toggle span {
                    background: #252E40;
                    transform: translateX(20px);
                    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
                    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
                }
                
                #percent:checked+.toggle span:before {
                    transform: scale(1);
                    opacity: 0;
                    transition: all .4s ease;
                }
                
                #amount:checked+.toggle:before {
                    background: #B2BACA;
                }
                
                #amount:checked+.toggle span {
                    background: #252E40;
                    transform: translateX(20px);
                    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
                    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
                }
                
                #amount:checked+.toggle span:before {
                    transform: scale(1);
                    opacity: 0;
                    transition: all .4s ease;
                }
                
                #check_income:checked+.toggle:before {
                    background: #B2BACA;
                }
                
                #check_income:checked+.toggle span {
                    background: #252E40;
                    transform: translateX(20px);
                    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
                    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
                }
                
                #check_income:checked+.toggle span:before {
                    transform: scale(1);
                    opacity: 0;
                    transition: all .4s ease;
                }
                
                #check_expense:checked+.toggle:before {
                    background: #B2BACA;
                }
                
                #check_expense:checked+.toggle span {
                    background: #252E40;
                    transform: translateX(20px);
                    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
                    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
                }
                
                #check_expense:checked+.toggle span:before {
                    transform: scale(1);
                    opacity: 0;
                    transition: all .4s ease;
                }
                
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    z-index: 1;
                    text-align: center;
                }
                
                .row span {
                    position: relative;
                    display: inline-block;
                }
                
                .row span:nth-child(1) {
                    width: 90%;
                    margin: 7% 0;
                }
                
                .row span:nth-child(2) {
                    margin-right: 10%;
                }
                
                .row span:nth-child(2),
                .row span:nth-child(3) {
                    width: 40%;
                    margin-top: 3%;
                }
                
                .slide-up {
                    display: inline-block;
                    width: 100%;
                    padding: 5px 0 5px 10px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #252E40;
                    background: #efefef;
                    border: 0;
                    border-radius: 3px;
                    outline: 0;
                    text-indent: 90px;
                    transition: all .3s ease-in-out;
                }
                
                .slide-up::-webkit-input-placeholder {
                    color: #efefef;
                    text-indent: 0;
                    font-weight: 300;
                }
                
                .slide-up+label {
                    display: inline-block;
                    position: absolute;
                    transform: translateX(0);
                    top: 0;
                    left: 0;
                    padding: 2px 15px;
                    font-size: 15px;
                    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
                    transition: all .3s ease-in-out;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    overflow: hidden;
                }
                
                .slide-up+label:before,
                .slide-up+label:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 0;
                    z-index: -1;
                    transition: all .3s ease-in-out;
                }
                
                .slide-up+label:before {
                    top: 6px;
                    left: 5px;
                    right: 5px;
                    bottom: 6px;
                    background: #252E40;
                }
                
                .slide-up+label:after {
                    top: 0;
                    bottom: 0;
                    background: #252E40;
                }
                
                .slide-up span:nth-child(1) .slide-up:focus,
                .slide-up span:nth-child(1) .slide-up:active,
                .slide-up span:nth-child(3) .slide-up:focus,
                .slide-up span:nth-child(3) .slide-up:active {
                    text-indent: 0;
                }
                
                .slide-up:focus,
                .slide-up:active {
                    color: #252E40;
                    text-indent: 0;
                    background: #fff;
                }
                
                .slide-up:focus::-webkit-input-placeholder,
                .slide-up:active::-webkit-input-placeholder {
                    color: #aaa;
                }
                
                .slide-up:focus+label,
                .slide-up:active+label {
                    transform: translateY(-100%);
                    padding: 5px 10px;
                    font-size: 13px;
                }
                
                .slide-up:focus+label:before,
                .slide-up:active+label:before {
                    border-radius: 5px;
                }
                
                .slide-up:focus+label:after,
                .slide-up:active+label:after {
                    transform: translateY(100%);
                }
                /* header details */
                
                .header_inner {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                
                .main_header_inner {
                    background-color: #383B40;
                    padding: 1% 8%;
                    border-radius: 5px;
                    font-weight: 400;
                }
                
                .income_header,
                .main_header,
                .expenses_header {
                    display: flex;
                    justify-content: center;
                    width: 30%;
                }
                
                .income_header,
                .expenses_header {
                    align-self: flex-end;
                }
                
                .income_details,
                .expenses_details {
                    display: flex;
                    align-self: flex-end;
                }
                
                .income_details {
                    width: 36%;
                    justify-content: space-between;
                }
                
                .income_details p,
                .expenses_details p {
                    background-color: #6E89BF;
                    padding: 1% 3%;
                    border-radius: 3px;
                    color: #383B40;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
                
                .income_details p:first-child {
                    margin-left: 8%;
                }
                
                .expenses_details {
                    width: 36%;
                    justify-content: space-between;
                }
                
                .expenses_details p:last-child {
                    margin-right: 10%;
                }
                
                .header_button {
                    width: 20%;
                    display: flex;
                    justify-content: center;
                }
                
                .fas {
                    font-size: 22px;
                }
                
                .header_button button:first-child {
                    width: 50%;
                }
                
                .header_button button:last-child {
                    width: 50%;
                }
                /* ADAPTIVITY */
                
                @media(max-width: 1100px) {
                    .sidebar {
                        grid-area: 1/1/3/12;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                    }
                    .header_sidebar {
                        position: absolute;
                        left: 50%;
                        display: none;
                    }
                    .header_sidebar_inner {
                        font-size: 15px;
                        margin-top: 1%;
                        padding: 1%;
                        position: absolute
                    }
                    .chart_pie {
                        width: 30%;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        padding: 1%;
                    }
                    .chart_inner_summary {
                        width: 100px;
                        height: 100px;
                    }
                    .legend_summmary_list {
                        font-size: 12px;
                    }
                    .sum_list_elem::before {
                        transform: translateY(25%);
                    }
                    .sum_list_elem {
                        display: none;
                    }
                    .legend {
                        margin-top: 20%;
                    }
                    .chart_bar_inner {
                        display: none;
                    }
                    .calculation {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                        padding-top: 1.5%;
                        font-size: 15px;
                    }
                    .calculation_header {
                        margin-top: 1%;
                        margin-left: 2%;
                        display: none;
                    }
                    .calculation_header_inner {
                        font-size: 15px;
                    }
                    .row {
                        justify-content: center;
                    }
                    .row span:nth-child(1) {
                        margin: 0;
                    }
                    .row span:nth-child(2),
                    .row span:nth-child(3) {
                        margin-top: 1.5%;
                    }
                    .slide-up {
                        padding: 2px;
                    }
                    .slide-up+label {
                        padding: 3px 10px 4px;
                        font-size: 10px;
                    }
                    .slide-up:focus+label,
                    .slide-up:active+label {
                        transform: translateY(-85%);
                        padding: 5px 10px;
                        font-size: 9px;
                    }
                    .input_group_header,
                    .save_label {
                        font-size: 12px;
                    }
                    .input_group,
                    .save {
                        margin-left: 2%;
                        margin-top: 0;
                    }
                    .save {
                        margin-bottom: 2%;
                        align-items: center;
                    }
                    .input_saving {
                        height: 20%;
                    }
                    .input_group,
                    .save {
                        width: 45%;
                    }
                    .input_group {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 2%;
                    }
                    .button_sidebar {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0;
                        width: auto;
                    }
                    /* end sidebar */
                    .header {
                        grid-area: 3/1/4/12;
                    }
                    .main_header_inner,
                    .income_header_inner,
                    .expenses_header_inner {
                        padding: 0 4%;
                        font-size: 20px;
                    }
                    .income_details p,
                    .expenses_details p {
                        letter-spacing: 0;
                    }
                    .btn-1,
                    .btn-2 {
                        font-size: 15px;
                        height: 30px;
                    }
                    .btn-1::after,
                    .btn-2::after {
                        content: '';
                    }
                    .container {
                        grid-area: 4/1/8/12;
                    }
                }
                
                @media (max-width: 450px) {
                    .sidebar {
                        grid-area: 1/1/4/12;
                        flex-wrap: wrap;
                    }
                    .chart_pie {
                        flex-wrap: nowrap;
                        justify-content: stretch;
                        padding-left: 15%;
                        margin-bottom: 10%;
                        align-items: center;
                    }
                    .chart_pie {
                        padding: 0;
                    }
                    .legend_summmary_list {
                        font-size: 12px;
                    }
                    .legend {
                        margin: 0;
                    }
                    .legend_summmary_list {
                        width: max-content;
                        font-size: 15px;
                    }
                    .row span:nth-child(2),
                    .row span:nth-child(3) {
                        margin-top: 4%;
                    }
                    .input_group {
                        width: 80%;
                        margin-top: 1%;
                        padding-left: 3%;
                    }
                    .income_choice {
                        margin-right: 10%;
                    }
                    .save {
                        width: 100%;
                        padding-left: 3%;
                        margin-bottom: 0;
                    }
                    .input_group_header,
                    .save_label {
                        display: none;
                    }
                    .button_sidebar {
                        width: 100%;
                        flex-wrap: nowrap;
                        align-items: center;
                    }
                    .add {
                        height: 30px;
                    }
                    .btn {
                        width: auto;
                        line-height: 100%;
                        padding: 2% 3%;
                        margin: 0;
                    }
                    /* end sidebar */
                    .header {
                        grid-area: 4/1/5/12;
                    }
                    .main_header_inner,
                    .income_header_inner,
                    .expenses_header_inner {
                        padding: 0 2%;
                        font-size: 15px;
                        /* end header */
                    }
                    .income_details p,
                    .expenses_details p {
                        background-color: transparent;
                        padding: 0;
                        font-size: 10px;
                        color: white;
                    }
                    .container {
                        grid-area: 5/1/8/12;
                    }
                    .newCard {
                        font-size: 11px;
                        justify-content: space-evenly;
                    }
                    .menu-icon {
                        width: 20px;
                        height: 20px;
                    }
                    .menu-icon::before,
                    .menu-icon::after {
                        width: 15px;
                    }
                }
                
                @media(max-width: 450px) {
                    .sidebar {
                        grid-area: 1/1/5/12;
                    }
                    .header {
                        grid-area: 5/1/6/12;
                    }
                    .main_header_inner,
                    .income_header_inner,
                    .expenses_header_inner {
                        padding: 0 1%;
                        font-size: 12px;
                        /* end header */
                    }
                    .income_details p,
                    .expenses_details p {
                        background-color: transparent;
                        padding: 0;
                        font-size: 10px;
                        margin-right: 5px;
                        font-weight: 400;
                        color: white;
                    }
                    .container {
                        grid-area: 6/1/8/12;
                    }
                    .newCard {
                        font-size: 8px;
                        justify-content: space-evenly;
                    }
                    .menu-icon {
                        margin: 0 5px;
                    }
                }
                
                @media(max-width: 300px) {
                    .chart_pie {
                        padding: 0;
                    }
                    .legend_summmary_list {
                        font-size: 12px;
                    }
                    .income_details p,
                    .expenses_details p {
                        font-size: 8px;
                        margin-right: 5px;
                    }
                }